:root{
  --primary-color: #29487D;
  --secondary-color: #1DA1F2;
  --text-color: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  scroll-behavior: smooth;
}

body{
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
}


h1,h2,h3,p{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: var(--text-color); 
}

.secondary-text{
  color: var(--secondary-color);
}


.section{
  position: relative;
  padding: 0 20px;
}

.section-top{
  padding: 0;
  min-height: 100vh;
  background: url(images/mountains.jpg) no-repeat center
  center/cover;
}

#overlay{
  padding: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.2)no-repeat center
  center/cover;
}

.section-top h1{
  font-size: 40px;
}

.section-top h1,p{
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}

.section-top .content{
  position: relative;
  top: 50vh;
}

.section-stream{
  min-height: 100vh;
  
}

.section-stream img{
  border-radius: 50%;
  width: 25%;
  position: absolute;
  top: 100px;
  left: 100px;
}

.section-stream h2{
  font-size: 35px;
}

.section-stream .content{
  position: absolute;
  width: 50%;
  top: 130px;
  right: 70px;
}

.section-stream .content > div, .section-grid > div {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.section-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.section-grid p {
	color: var(--text-color);
}

/* Mobile */
@media (max-width: 700px) {
	.section-top .content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}

	.section-top {
		min-height: 200px;
	}

	.section-top .content {
		text-align: center;
	}

	.section-top .content h1 {
		font-size: 45px;
	}

	.section-stream {
		min-height: 400px;
	}

	.section-stream img {
		width: 50%;
		display: block;
		margin: 30px auto;
	}

	.section-grid {
		display: block;
		margin-top: 0;
	}

}
