:root{
  --primary-color: #29487D;
  --secondary-color: #1DA1F2;
  --text-color: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  scroll-behavior: smooth;
}

body{
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
}


h1,h2,h3,p{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: var(--text-color); 
}

.secondary-text{
  color: var(--secondary-color);
}


.section{
  position: relative;
  padding: 0 20px;
}

.section-top{
  padding: 0;
  min-height: 100vh;
  background: url(images/mountains.jpg) no-repeat center
  center/cover;
}

#overlay{
  padding: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5)no-repeat center
  center/cover;
}

.section-top p{
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  margin-top: -50px;
}

.section-top .content{
  position: relative;
  top: 30vh;
}

.section-top img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-stream{
  min-height: 100vh;
  padding: 0;
}


.section-stream img{
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.24);
  width: 25%;
  position: absolute;
  top: 100px;
  left: 100px;
}

.section-stream h2{
  font-size: 35px;
}

.section-stream .content{
  position: absolute;
  width: 40%;
  bottom: 100px;
  right: 100px;
}

#triangle{
    width: 0;
    height: 0;
    border-top: 100vh solid rgba(0, 0, 0, 0.5);
    border-right: 100vw solid transparent;
}

.section-stream .content > div, .section-grid > div {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.section-grid {
  min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.section-grid p {
	color: var(--text-color);
}

/* Mobile */
@media (max-width: 700px) {
	.section-top .content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}

	.section-top {
		min-height: 200px;
	}

	.section-top .content {
    text-align: center;
    padding-top: 300px;
	}

	.section-top .content h1 {
		font-size: 45px;
  }

  .section-top p{
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
  
  
  .section-top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

	.section-stream {
		min-height: 400px;
	}

	.section-stream img {
		width: 50%;
		display: block;
		margin: 30px auto;
  }

	.section-grid {
		display: block;
		margin-top: 0;
  }

}


nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #eee;
  position: fixed; 
  z-index: 1;
}

nav img{
  width: 60%;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
}

nav a:hover {
  text-decoration: none;
  color: rgb(145, 145, 145);
}


nav li:hover {
  background-color:rgba(0, 0, 0, 0.2);
}
nav a#openup {
  display: none;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}


.col{
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.section-test{
  min-height: 200vh;
  padding-top: 5rem;
}


img{
  width: 100%;
}

.project-card img{
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.project-card{
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: .8rem ;
  zoom: .7;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.project-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.project-card-reason span{
  display: block;
  color: rgba(0,0,0,.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}

.project-title{
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  color: #4facfe;
}

.project-description{
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
}

.project-link{
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--text-color);
  background-image: linear-gradient(to right,#4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
  text-decoration: none;
}

.project-link:hover{
  text-decoration: none;
  background-image: linear-gradient(to right, #00f2fe 0%,#4facfe 100%);
}

#carouselExampleIndicators{
  width: 50vh;
  border-radius: .8rem;
}
